<!DOCTYPE html>
<><title> <%=title%> </title>
<link rel="stylesheet" href="/css/layouts.css">
        <%- style%>
</head>
<body>
    <%- include('_header') %>

    <%if(flash.success&&flash.success.length>0){%>

<%=flash.success%>
        <%}%>

    <%-body%>
    <%- include('_footer') %>
    
    <%- script%>
</body>
</html>